.title-box{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.Title1{
    color: #FFF;
text-align: center;
font-family: Kanit;
font-size: 56px;
font-style: normal;
font-weight: 600;
line-height: 60px; /* 107.143% */
}

.vector{
    margin-top: -80px;
    margin-left: 240px;
}

.ptag-box>p{
    margin-top: -30px;
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 169.432%; /* 33.886px */
}

.Title2{
    color: #FECC00;
    font-family: Kanit;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
}

.product-box{
    display: flex;
padding: 0px 64px;
justify-content: center;
align-items: flex-start; 
align-content: flex-start; 
gap: 60px 48px;
align-self: stretch;
flex-wrap: wrap;
margin-top: 40px;
}

.product-box>div{
    /* display: flex; */
    margin-top: 10px;
    width: 314px;
    height: 158;
    border-radius: 12px;
    border: 3px solid #F9D326;
    background: #141411;
    backdrop-filter: blur(13px);
}

.heading-box{
    margin-top: -0px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.388px;
}

.details-box{
    margin-top: -30px;
    width: 75%;
    color: #CFCFCF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    margin-left: 28px; 
}

.product-child>img{
    width: 159px;
height: 159px;
}



/* ================== ANIMATION ====================*/

    .product-child>img{
        transition: 1s ease;
        }
        
        .product-child>img:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 0.2s ease;
        } 

       
          

        /*==================== CARD CONTAINER ANIMATION =================*/

        
   @keyframes skateInBottom {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .product-child {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
  }
  
  .product-child:hover {
    opacity: 1;
    animation: skateInBottom 0.9s ease-in-out;
  }
  

  .product-child:not(:hover) {
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
  }
    
  /* ============= PTAG BOX ANIMATION ========= */

    @keyframes dissolveInLeft {
    from {
      opacity: 0;
      transform: translateX(-10px);
    }
    to {
      opacity: 2;
      transform: translateX(1);
    }
  }
  
  .ptag-box >p:hover {
    animation: dissolveInLeft 2s ease-in-out;
  } 
  .title-box:hover {
    animation: dissolveInLeft 2s ease-in-out;
  } 
  